@import "./button";

.hero {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  padding: 6rem 0;
}
.hero-content {
  //   flex: 1;

  h4 {
    color: #f59e0b;
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
  }
  p {
    color: #9ca3af;
    margin: 1.5rem 0;
    line-height: 1.6;
  }
  .btn-primary {
    @include buttonStyle(#2563eb, #1d4ed8);
  }
}
