.features {
  background-color: $color-dark-bg;
  padding: 5rem 0;
  text-align: center;
  color: #fff;

  .title {
    margin-bottom: 3rem;

    a {
      // padding: 0.75rem 1.5rem;
      // border-radius: 9999px;
      // background-color: $color-dark-bg;
      color: $color-brand-primary;
      font-weight: 600;
      font-size: 0.9rem;
      letter-spacing: 2px;
    }

    h2 {
      font-size: 2.5rem;
      margin: 1rem 0;
    }

    p {
      color: #aaa;
      font-size: 1rem;
      line-height: 1.6;
    }
  }

  #product-list {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    padding: 0 5rem;
    align-items: stretch;

    .product-card {
      background-color: $color-card-bg;
      color: $color-text-dark;
      border-radius: 20px;
      padding: 1.5rem;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
      text-align: left;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      display: flex;
      flex-direction: column;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 12px 25px rgba(189, 179, 179, 0.5);
      }

      img {
        width: 100%;
        height: 180px;
        object-fit: contain;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 0.3rem;
      }

      .brand {
        color: $color-brand-primary;
        font-weight: 600;
        margin-bottom: 0.8rem;
        font-size: 0.9rem;
      }

      .desc {
        color: $color-text-secondary;
        font-size: 0.9rem;
        line-height: 1.4;
        margin-bottom: 1rem;
      }

      .specs {
        list-style: none;
        padding: 0;
        margin: 0 0 1rem 0;

        li {
          font-size: 0.85rem;
          color: #333;
          margin: 0.2rem 0;

          strong {
            color: $color-text-dark;
          }
        }
      }

      .price {
        font-weight: 700;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        margin-top: auto;
      }

      .buy-btn {
        background-color: $color-brand-primary;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 0.6rem 1.2rem;
        font-size: 0.9rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken($color-brand-primary, 10%);
        }
      }
    }
  }
}
